In [1]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [10]:
# Pandas CSV
csv_file = "data/SO_pandas.csv"
so_pandas_df = pd.read_csv(csv_file)
so_pandas_df.head()

,Unnamed: 0,Post Link,Type,Title,Markdown,Tags,Created,Last Edit,Edited By,Score,Favorites,Views,Answers,Accepted,CW,Closed
0,0,10348407,Answer,Use wxpython DrawText function to add text in ...,"When I run your code, I got an error as there ...",<python><bitmap><wxpython><draw><drawtext>,2012-04-27 09:45:58,NaN,NaN,0,NaN,1312.0,NaN,NaN,NaN,NaN
1,1,10483954,Answer,Selenium grid 2 over cygwin,"Through ssh, you only exchange with Windows st...",<windows-7><cygwin><selenium-grid>,2012-05-07 14:34:44,NaN,NaN,2,NaN,438.0,NaN,Accepted,NaN,NaN
2,2,10499966,Answer,Issue with concatenation with delimiter formul...,You are calling `SUBSTITUTE` on space characte...,<excel><excel-vba><excel-2007><excel-formula><...,2012-05-08 13:50:52,NaN,NaN,4,NaN,734.0,NaN,NaN,NaN,NaN
3,3,10312647,Answer,Concatenate or print list elements with a trai...,"If you are in Python 3, you could leverage the...",<python><string><list><join>,2012-04-25 09:14:04,2012-04-25 11:44:45,Boud (624829),6,NaN,18242.0,NaN,NaN,NaN,NaN
4,4,10374652,Answer,Python: Exploring data of GUI program,Let's wrap up this thread...\r\r\n\r\r\n`pywin...,<python><user-interface><variables>,2012-04-29 18:12:49,NaN,NaN,1,NaN,271.0,NaN,Accepted,NaN,NaN

In [13]:
# Python Answers CSV
csv_file ='data/Answers_small1.csv'
so_python_answers_df = pd.read_csv(csv_file, encoding='utf-8')
so_python_answers_df.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [15]:
# Python Questions CSV
csv_file ='data/Questions_small.csv'
so_python_questions_df = pd.read_csv(csv_file, encoding='latin-1')
so_python_questions_df.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [5]:
# Python Tags CSV
csv_file ='data/Tags.csv'
so_python_tags_df = pd.read_csv(csv_file, encoding='latin-1')
so_python_tags_df.head()

    Id        Tag
0  469     python
1  469        osx
2  469      fonts
3  469  photoshop
4  502     python